{
  parser: "babel-eslint",
  extends: [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:testing-library/recommended"
  ],
  env: {
    es6: true,
    node: true,
    "jest/globals": true,
    browser: true
  },
  parserOptions: {
    ecmaVersion: 7,
    ecmaFeatures: {},
    sourceType: "module"
  },
  plugins: [
    "jest",
    "testing-library"
  ],
  settings: {
  },
  rules: {
    indent: ["error", 2],
    no-empty-pattern: 0
  }
}
